echo "*.yaml linguist-language=YAML" >> .gitattributes
echo "*.yml  linguist-language=YAML" >> .gitattributes
echo "charts/** linguist-language=YAML" >> .gitattributes
echo "templates/** linguist-language=YAML" >> .gitattributes
echo "*.lock linguist-detectable=false" >> .gitattributes
